@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", "Sans serif";
    background-color: black;
}

header{
    font-size: 0.9rem;
    & a{
        text-decoration: none;
        color: white;
    }
}

.menu-nav-links a{
    margin: 5px;
}

